pandas
openpyxl
python-docx
pillow
scikit-learn
pytesseract
sentence-transformers
faiss-cpu
huggingface-hub
pypdf
python-magic-bin
transformers
openai
python-dotenv
fastapi
uvicorn
supabase
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
requests
matplotlib
jsonschema
langdetect
tqdm
PyMuPDF
langchain
langchain-experimental
langchain-openai
langgraph
tabulate
